  <div class="login-form">
    <div class="alert alert-warning" *ngIf="loginForm.touched && usernameText.invalid">Enter Your Username</div>
    <div class="alert alert-warning" *ngIf="passwordText.touched && passwordText.invalid">Enter a Valid Password</div>
    <div class="alert alert-success" *ngIf='loginSuccessMessage != null'>{{loginSuccessMessage}}</div>

    <form (ngSubmit)="!loginForm.invalid && handleLogin()" #loginForm="ngForm">
        <h2 class="text-center">Log in</h2>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" required="required"
            #usernameText="ngModel" [(ngModel)]="username" name="username" minlength="6">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" required="required"
            #passwordText="ngModel" [(ngModel)]="password" name="password" minlength="8">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
        <div class="clearfix">
            <label class="float-left form-check-label"><input type="checkbox"> Remember me</label>
            <a href="#" class="float-right">Forgot Password?</a>
        </div>
    </form>
    <p class="text-center"><a routerLink="/register">Create an Account</a></p>
</div>
