

<div class="jumbotron jumbotron-fluid jumbotron-top" >
  <div class="container">
    <h1 class="display-4">EMS Dashboard</h1>
    <p class="lead">All your employees related tasks at one place.</p>
  </div>
</div>

<div class="jumbotron yog-img" style="background-color: #fff; height: calc(95vh);">

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">See All Employees</h5>
          <p class="card-text">List All Employees in a well structured tabular format.</p>
          <a routerLink="/listUsers" class="btn btn-primary">Get All Employees</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add an Employee</h5>
          <p class="card-text">Add a new Employee to the database</p>
          <a routerLink="/addEmployee" class="btn btn-primary">Add Employee</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Delete an Employee</h5>
          <p class="card-text">Delete an Employee record by its Id.</p>
          <a href="/deleteEmployee" class="btn btn-primary">Delete Employee</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Update Employee Record</h5>
          <p class="card-text">Update an Employee record by its Id..</p>
          <a href="#" class="btn btn-primary">Update Employee</a>
        </div>
      </div>
    </div>
  </div>

</div>
